@import "~@robokassa/robomarket-components/src/common";

.isActive {
  color: #FFFFFF !important;
  font-weight: bold !important;
}

.sidebar__shop__item__button {
  position: relative;
  color: #FFFFFF;
  width: 100%;
  &__label {
    display: flex;
    min-height: 54px;
    cursor: pointer;
    &:hover {
      background: #2A2E43;
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    background: #2A2E43;
    transition: all 500ms ease-in-out;
    margin-top: 0;
    line-height: 1.5;
    border-left: 2px solid #E03B4E;

    a {
      color: #D1D7E1;
      text-decoration: none;
      outline: none;
      &:hover {
        color: #FFFFFF;
        font-weight: bold;
      }

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        background: #D1D7E1;
        border-radius: 10px;
        float: left;
        margin-top: 12px;
        margin-right: 12px;
      }
    }

    ul {
      list-style-type: none;
    }

    li {
      margin-top: 12px;
      font-family: $font-noto-sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.01em;
    }
  }
  &__arrow {
    position: absolute;
    top: 25px;
    right: 24px;
    transition: transform 500ms linear;
  }
}

.sidebar__shop__item__link {
  width: 100%;
  height: 100%;
}

.sidebar__shop__item__name {
  top: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

input[id^="shop__item__checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[id^="shop__item__checkbox"]:checked ~ .sidebar__shop__item__button__content {
  max-height: 370px;
  transition: all 500ms ease-in-out;
  padding-bottom: 24px;
}

input[id^="shop__item__checkbox"]:checked + label .sidebar__shop__item__button__arrow {
  transform: rotate(-180deg);
}

input[id^="shop__item__checkbox"]:checked ~.sidebar__shop__item__button__label {
  background: #2A2E43;
  position: relative;

  &::before {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: #E03B4E;
  }
}
