@import "~@robokassa/robomarket-components/src/common";

.smoothAppearance{
  @include smoothAppearance()
}

.main {
  display: flex;
  flex-direction: column;
}

.section {
  margin-top: 48px;
}

.title {
  @include heading-1();
  font-weight: bold;
}

.categoriesTitle {
  @include heading-1();
  font-weight: bold;
  margin-bottom: 40px;

  &:hover {
    color: $color-orange-medium;
    cursor: pointer;
    transition: 0.3s;
  }
}


@media(max-width: 768px) {
  .mobile {
    margin-top: 0;
  }
}
