@import '~@robokassa/robomarket-components/src/common';

.wrapper {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  h2, h3, h4 {
    margin: 15px 0 10px 0;
    font-weight: bold;
  }

  h2 {
    @include heading-2();
    font-weight: bold;
  }

  h3 {
    @include heading-3();
    font-weight: bold;
  }

  h4 {
    @include heading-4();
  }

  a {
    color: $color-orange-medium;
    text-decoration: none;
    transition: .3s;
  }
}
